# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Debian packages files
*.deb
*.build
*.changes
*.upload
*.tar.gz
*.dsc
*.debhelper.log

# Specific packages files
zabbix-quanta/zabbix-quanta-iostats-*/debian/zabbix-quanta-iostats/*
zabbix-quanta/zabbix-quanta-apache-*/debian/zabbix-quanta-apache/*
zabbix-quanta/*/debian/files
zabbix-quanta/*/debian/*.substvars
zabbix/zabbix-2.0.14/debian/.pc/
zabbix/zabbix-2.0.14/debian/tmp-build-*/*
zabbix/zabbix-2.0.14/debian/zabbix-agent/*
zabbix/zabbix-2.0.14/debian/zabbix-get/*
zabbix/zabbix-2.0.14/debian/zabbix-proxy-mysql/*
zabbix/zabbix-2.0.14/debian/zabbix-sender/*
zabbix/zabbix-2.0.14/debian/zabbix-server-mysql/*
zabbix/zabbix-2.0.14/debian/zabbix-agent/*
zabbix/zabbix-2.0.14/debian/*.debhelper
zabbix/zabbix-2.0.14/debian/*.substvars
zabbix/zabbix-2.0.14/debian/*-stamp
zabbix/zabbix-2.0.14/*-stamp
zabbix/zabbix-2.0.14/config.guess.orig
zabbix/zabbix-2.0.14/config.sub.orig
zabbix/zabbix-2.0.14/.pc/*
zabbix/zabbix-2.0.14/debian/stamp-patched
zabbix/zabbix-2.0.14/debian/files
zabbix/zabbix-2.0.14/debian/templates/*
