#!/bin/sh -e
. /usr/share/debconf/confmodule
db_version 2.0 || [ $? -lt 30 ]

# Fetch roles (will determine which additional packages we need to install and
# which "role" should the server have in Quanta)
db_input medium zabbix-agent/roles || true
db_go || true

# Fetch server mode (active/passive)
db_input medium zabbix-agent/mode || true
db_go || true

# Fetch auto-configuration stuff from user
db_input high zabbix-agent/quanta_autoregistration_token || true
db_go || true
db_get zabbix-agent/quanta_autoregistration_token || true
if [ ! -z "$RET" ]; then
  IP=`/bin/hostname -I | cut -d ' ' -f 1`
  echo "IP $IP"
  db_get zabbix-agent/ip_address
  # if [ ! -z $IP ] ||
  if [ ! -z $IP ] && [ -z "$RET" ] \
  && echo "$IP" | grep -E -v '(^127\.)|(^192\.168\.)|(^10\.)|(^172\.1[6-9]\.)|(^172\.2[0-9]\.)|(^172\.3[0-1]\.)|(^::1$)|(^[fF][cCdD])'
  then
    db_set zabbix-agent/ip_address $IP
  fi
  db_input high zabbix-agent/ip_address || true
  db_go || true
fi

#DEBHELPER#

exit 0
